.template-blog-container *, .template-blog-container *:before, .template-blog-container *:after {
  box-sizing: border-box;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}
.template-blog-container #id_content {
  height: 60px;
  width: 1000px;
}
.template-blog-container .comment-flex-wrap:not(:first-child) {
  display: flex;
  align-items: center;
}
.template-blog-container .comment-flex-wrap label {
  color: rgb(249, 55, 55);
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
}
.template-blog-container .comment-button {
  align-items: center;
  background-color: #fc5a48;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 150px;
  height: 60px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin-top: -10px;
}
.template-blog-container .comment-button:hover,
.template-blog-container .comment-button:focus {
  background-color: #de100d;
  color: #ffffff;
}
.template-blog-container .comment-button:active {
  background: #780402;
  color: rgba(255, 255, 255, 0.7);
}
.template-blog-container .comment-button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.hide {
  opacity: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-smooth: auto;
  font-weight: 300;
  line-height: 1.5;
  color: #444;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.container {
  position: relative;
  display: block;
  width: 80%;
  margin: 0 auto;
}

.special-container-height {
  height: 100%;
}

header {
  position: relative;
  display: block;
  width: 100%;
  height: 90vh;
  margin: 0;
  padding: 20px 0 0;
  overflow: hidden;
  z-index: 0;
}
header:before, header:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
header:before {
  background-color: rgba(231, 76, 60, 0.8);
  z-index: 0;
}
header:after {
  filter: blur(5px);
  background-attachment: fixed;
  background-image: url("https://static.pexels.com/photos/266526/pexels-photo-266526.jpeg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: blur 10s linear infinite;
          animation: blur 10s linear infinite;
  overflow: hidden;
  z-index: -1;
}
@-webkit-keyframes blur {
  0% {
    filter: blur(1px);
  }
  50% {
    filter: blur(20px);
  }
  100% {
    filter: blur(1px);
  }
}
@keyframes blur {
  0% {
    filter: blur(1px);
  }
  50% {
    filter: blur(20px);
  }
  100% {
    filter: blur(1px);
  }
}
header nav {
  position: relative;
  z-index: 2;
}
header nav .logo {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0;
  border-radius: 50%;
}
header nav .logo svg {
  position: absolute;
  transform: scale(1);
  -webkit-animation: scale 750ms ease-in-out;
          animation: scale 750ms ease-in-out;
}
@-webkit-keyframes scale {
  0% {
    transform: scale(100);
    opacity: 0;
  }
  50% {
    transform: scale(0.2);
  }
  70% {
    transform: scale(1);
  }
  90% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale {
  0% {
    transform: scale(100);
    opacity: 0;
  }
  50% {
    transform: scale(0.2);
  }
  70% {
    transform: scale(1);
  }
  90% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
header nav .subscribe {
  position: relative;
  display: inline-block;
  padding: 15px 0;
  float: right;
  -webkit-animation: slide 1000ms ease;
          animation: slide 1000ms ease;
}
header nav .subscribe a {
  position: relative;
  margin: 0;
  padding: 10px 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
  color: #e74c3c;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 500ms ease;
}
header nav .subscribe a:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
@-webkit-keyframes slide {
  0% {
    transform: translateY(-600px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    transform: translateY(-600px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
header blockquote {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  margin: 0;
  padding: 5px 0 5px 30px;
  color: white;
  font-size: 24px;
  font-weight: 100;
  line-height: 1.25;
  letter-spacing: 2px;
  transform: translate(-50%, -50%);
  -webkit-animation: fadeIn 1250ms ease;
          animation: fadeIn 1250ms ease;
}
header blockquote:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: white;
  -webkit-animation: height 1000ms ease-in-out;
          animation: height 1000ms ease-in-out;
}
@-webkit-keyframes height {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes height {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -150%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%, 0%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -150%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%, 0%);
  }
}
header blockquote span {
  position: relative;
  display: block;
  margin: 20px 0 0;
  font-size: 16px;
}
header .date {
  position: absolute;
  bottom: 20px;
  margin: 0;
  padding: 5px 15px;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  font-weight: 400;
}
header .date i {
  margin-right: 5px;
  font-size: 14px;
}

section {
  position: relative;
  display: block;
  margin: 0;
  padding: 100px 0;
  z-index: 999;
}
section .scroll {
  position: absolute;
  right: 50px;
  top: -20px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
}
section .scroll i {
  position: relative;
  top: 50%;
  left: 50%;
  color: #e74c3c;
  transform: translate(-50%, -100%);
  -webkit-animation: down 2s ease infinite;
          animation: down 2s ease infinite;
  z-index: 9;
}
@-webkit-keyframes down {
  100% {
    transform: translate(-50%, -30%);
    opacity: 0;
  }
}
@keyframes down {
  100% {
    transform: translate(-50%, -30%);
    opacity: 0;
  }
}
section .container {
  width: 80%;
}
section h1 {
  margin: 0;
  padding: 0;
  color: #5A7D7C;
  line-height: 1.5;
  margin-bottom: 2rem;
}
section .byline {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 50px;
  font-style: italic;
  vertical-align: middle;
}
section .byline .avatar img {
  border: 0.5px rgb(244, 56, 56) solid;
  position: absolute;
  display: inline-block;
  top: -10px;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  background-size: cover;
  background-color: #5A7D7C;
  border-radius: 50%;
  left: -45px;
}
section .byline span {
  color: #e74c3c;
  font-style: normal;
  font-weight: bold;
}
section p {
  margin-bottom: 50px;
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 1.95;
}
section p .drop {
  position: relative;
  display: inline-block;
  margin: 0 20px 0 0;
  color: #e74c3c;
  font-size: 64px;
  font-weight: bold;
  line-height: 1.2;
  float: left;
}
section blockquote {
  position: relative;
  width: 80%;
  margin: 150px auto;
  padding: 5px 0 5px 30px;
  border-left: 5px solid #e74c3c;
  color: #444;
  font-size: 20px;
  line-height: 1.75;
}
section blockquote span {
  position: relative;
  display: block;
  margin: 20px 0 0;
  font-size: 16px;
}

.quote {
  height: 400px;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.quote.desert {
  background-image: url("https://static.pexels.com/photos/80454/tree-desert-namibia-dead-vlei-80454.jpeg");
}
.quote.second {
  background-image: url("https://static.pexels.com/photos/36464/sky-clouds-clouds-form-cumulus-clouds.jpg");
}
.quote:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 130%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
  z-index: -1;
}
.quote blockquote {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 44%;
  margin: 0;
  padding: 5px 0 5px 30px;
  border-left: 5px solid #e74c3c;
  color: #444;
  font-size: 24px;
  font-weight: 100;
  line-height: 1.25;
  letter-spacing: 2px;
  transform: translate(-50%, -50%);
}
.quote blockquote span {
  position: relative;
  display: block;
  margin: 20px 0 0;
  font-size: 16px;
}

.comments {
  padding-top: 0;
}
.comments .toggle {
  position: relative;
  display: block;
  width: 100%;
  margin: 10px 0 50px;
  padding: 10px;
  background-color: #719998;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.comments .toggle .indicator {
  position: relative;
  top: 4px;
  width: 15px;
  height: 16px;
  line-height: 1.75;
  transition: transform 250ms ease;
  float: right;
}
.comments .toggle .indicator:before, .comments .toggle .indicator:after {
  position: absolute;
  content: "";
}
.comments .toggle .indicator:before {
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translateY(-1px);
}
.comments .toggle .indicator:after {
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: white;
  transform: translateX(-1px);
}
.comments #toggle {
  display: none;
}
.comments #toggle:checked + .toggle .indicator {
  transform: rotate(45deg);
}
.comments #toggle:checked ~ .wrapper {
  height: auto;
}
.comments .wrapper {
  position: relative;
  display: block;
  height: 0;
  overflow: hidden;
}
.comments .wrapper .comment {
  position: relative;
  display: flex;
}
.comments .wrapper .comment .user {
  position: relative;
  width: 80px;
  height: inherit;
  margin: 0 20px 20px 0;
  padding: 0;
  float: left;
  font-size: 12px;
  text-align: center;
}
.comments .wrapper .comment .user .pic {
  position: relative;
  width: 100%;
  height: 65px;
  margin: 6px auto;
  background-position: center center;
  background-size: cover;
  background-color: darkgray;
  overflow: hidden;
}
.comments .wrapper .comment .user .date {
  font-size: 12px;
}
.comments .wrapper .comment .text .author {
  font-weight: bold;
  text-transform: uppercase;
  color: #e74c3c;
}
.comments .wrapper .comment .text p {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.tags {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.tags li {
  position: relative;
  display: inline-block;
  margin: 0 5px 5px 0;
}
.tags li.tag {
  display: block;
  color: #e74c3c;
  font-weight: bold;
  text-transform: uppercase;
}
.tags li a {
  position: relative;
  display: block;
  padding: 7px 20px;
  background-color: #5A7D7C;
  border-radius: 99px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.tags li a:hover {
  background-color: #719998;
}

.footer {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 50px 0 0;
  background: #c0392b;
  z-index: 0;
}
.footer .footer-logo {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-color: white;
  border-radius: 50%;
}
.footer .footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.footer ul {
  flex-basis: 13em;
  flex-shrink: 0;
  margin-bottom: 40px;
  padding: 0;
}
.footer ul li {
  line-height: 1.5em;
  list-style: none;
  text-align: center;
}
.footer ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.footer ul li a:focus, .footer ul li a:hover {
  color: white;
}
.footer ul li h3 {
  color: white;
  font-size: 1em;
  margin-bottom: 0.4em;
}
.footer .disclaimer {
  position: relative;
  display: block;
  width: 100%;
  padding: 30px;
  background-color: #962d22;
}
.footer .disclaimer p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  margin: auto;
  max-width: 35%;
  text-align: center;
}/*# sourceMappingURL=blog-page.css.map */