<div class="blog-container">
  <h1 class="reveal">Check out our blogs!</h1>
  <div class="primary-blog-wrapper">
    <div class="blog-wrapper reveal">
      <div class="ind-blog-container">
        <div class="shader-background">
          <img
            src="https://wallpapers.com/images/featured/p7svl5x0kx2kdjxx.jpg"
            alt=""
          />
          <div class="">
            <h3>Title: Ola comprandes ...</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore
              error blanditiis saepe libero nostrum ducimus ipsam, ullam omnis
              odit! Id, debitis dicta. Accusamus est laudantium quae voluptate
              repellendus tempora earum cumque sunt, quibusdam voluptatum
              aliquid iusto enim amet itaque fuga nemo repellat aut? Accusamus
              odio, culpa quis reprehenderit ipsum et?
            </p>
          </div>
        </div>
      </div>
      <div class="ind-blog-container">
        <div class="shader-background">
          <img
            src="https://wallpapers.com/images/featured/p7svl5x0kx2kdjxx.jpg"
            alt=""
          />
          <div class="">
            <h3>Title: Ola comprandes ...</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore
              error blanditiis saepe libero nostrum ducimus ipsam, ullam omnis
              odit! Id, debitis dicta. Accusamus est laudantium quae voluptate
              repellendus tempora earum cumque sunt, quibusdam voluptatum
              aliquid iusto enim amet itaque fuga nemo repellat aut? Accusamus
              odio, culpa quis reprehenderit ipsum et?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-button-wrapper">
    <a href="{% url 'blogHome' %}" class="cta">
      <span class="span-text">Go to Blogs</span>
      <svg
        class="button-animation"
        width="13px"
        height="10px"
        viewBox="0 0 13 10"
      >
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </a>
  </div>
</div>
