{% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="navbar-container" style="padding-bottom: 2rem">
      <div class="navbar-left-side">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/7/71/Logo-the-luxury.png"
          alt=""
        />
      </div>
      <div class="navbar-right-side">
        <div class="btn from-top"><a href="{% url 'home' %}">Home</a></div>
        <div class="btn from-top"><a href="{% url 'blogHome' %}">Blogs</a></div>
        <div class="btn from-top"><a href="https://guthib.com/">Shop</a></div>
        <div class="btn from-top">
          <a href="https://guthib.com/">About Us</a>
        </div>
        {% if request.user.is_authenticated %}
        <div class="btn from-top"><a href="{% url 'logout' %}">Logout</a></div>
        {% else %}
        <div class="btn from-top"><a href="{% url 'login' %}">Login</a></div>
        {% endif %}
      </div>
    </div>
  </body>
</html>
{% endblock %}
